.btn-group.pull-right
    -if (!cart)
        button.btn.btn--color2
            i.fa.fa-shopping-cart.fa-lg
            b  Cart  (0) 
    -else
        button.btn.dropdown-toggle(data-toggle="dropdown")
            i.fa-shopping-cart
            b  Cart (#{cart.count}) 
            span.caret
        ul.dropdown-menu
            each product in cart.products
                li
                  a(href='/product/#{product.seo}') 
                    i(remId='#{product.id}').fa-trash-o.pull-right
                    | #{product.name}
            li.divider
            li
              a(href='/checkout/cart') Checkout