@charset "UTF-8";
html {

	// font-family: sans-serief;
	padding-left: $base-spacing-unit;
	padding-right: $base-spacing-unit;
	// padding-top: $base-spacing-unit;
}

.rule--light {
    opacity: 0.3;
}
